<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515331870560-forov6i0ilum7je2jofpd5830vqs9ei5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515331870560-forov6i0ilum7je2jofpd5830vqs9ei5</string>
	<key>API_KEY</key>
	<string>AIzaSyDemK-hU2Ph4R_TMdH_u8VLMv4Ksg1lN8g</string>
	<key>GCM_SENDER_ID</key>
	<string>515331870560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseapp</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-1d3e0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-1d3e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515331870560:ios:621e5f1abf00b6aa975805</string>
</dict>
</plist>